@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html {
  font-size: 14.5px; }

body {
  font-size: 13px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  font-family: "Droid Sans", arial, helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  margin-top: 0; }

h2 {
  font-size: 19.5px;
  font-size: 1.5rem; }

.block h2.block-title {
  margin-bottom: 10px;
  font-size: 19.5px;
  font-size: 1.5rem; }

.sidebar-second .block h2.block-title {
  font-size: 18.2px;
  font-size: 1.4rem; }

.path-node h1 {
  margin-bottom: 3px;
  color: #cc0033; }

a {
  color: #cc0033;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.messages {
  margin: 30px 0 0 8px; }

.path-frontpage .feed-icons {
  display: none; }

.node__submitted {
  font-size: 11.05px;
  font-size: 0.85rem;
  color: #888888;
  margin-bottom: 15px; }

ul.tabs.primary {
  margin-bottom: 20px; }
  ul.tabs.primary li a {
    border: 1px solid #eeeeee; }
    ul.tabs.primary li a:hover {
      text-decoration: none; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.layout-container {
  margin-left: 20px;
  margin-right: 20px; }

.region-highlighted {
  padding: 1px 0 1px; }

main {
  padding-top: 30px;
  padding-bottom: 30px;
  *zoom: 1;
  min-height: 400px; }
  main:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  main .content-bottom {
    margin-top: 40px;
    background: #d7d7d7; }

footer .region-footer {
  background: #555555;
  padding: 22px 20px 0;
  margin-left: -20px;
  margin-right: -20px;
  color: white;
  *zoom: 1; }
  footer .region-footer:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  footer .region-footer .block {
    margin-bottom: 30px; }
    footer .region-footer .block p {
      margin: 0; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 480px) {
  footer .region-footer .block {
    float: left;
    width: 50%; } }
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 768px) {
  footer .region-footer .block {
    float: left;
    padding-right: 30px; }

  .sidebar-second .layout-container .layout-content {
    float: left;
    width: 72%;
    padding-right: 3.5%;
    margin-right: 2.5%;
    border-right: 1px solid #e5e5e5; }
  .sidebar-second .layout-container .layout-sidebar-second {
    float: left;
    width: 22%; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 1024px) {
  body {
    background: #eeeeee; }

  header, main, footer .region-footer, .region-highlighted {
    padding-left: 30px;
    padding-right: 30px; }

  header, main, .region-highlighted {
    background: white; }

  .layout-container {
    width: 980px;
    margin: auto;
    -moz-box-shadow: 0 0 5px #aaaaaa;
    -webkit-box-shadow: 0 0 5px #aaaaaa;
    box-shadow: 0 0 5px #aaaaaa; }

  main .content-bottom {
    *zoom: 1;
    margin-left: -30px;
    margin-right: -30px;
    padding: 30px; }
    main .content-bottom:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden; }

  .layout-sidebar-second {
    padding-top: 10px; }

  footer .region-footer {
    padding: 22px 30px;
    margin-left: 0;
    margin-right: 0; }
    footer .region-footer .block {
      width: 25%;
      margin-bottom: 0;
      font-size: 13px;
      font-size: 1rem;
      line-height: 1.5;
      color: #333333;
      font-family: "Droid Sans", arial, helvetica, sans-serif;
      font-size: 11.7px;
      font-size: 0.9rem;
      color: white; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.path-frontpage .view-news-startseite .views-field-field-image, .path-news .view-news-startseite .views-field-field-image {
  text-align: center; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 480px) {
  .path-frontpage .view-header-slideshow button.slick-prev, .path-frontpage .view-header-slideshow button.slick-next {
    height: 30px;
    width: 30px;
    top: 47%; }
    .path-frontpage .view-header-slideshow button.slick-prev:before, .path-frontpage .view-header-slideshow button.slick-next:before {
      font-size: 30px;
      font-weight: normal; }
  .path-frontpage .view-header-slideshow button.slick-prev {
    left: 10px;
    z-index: 15; }
  .path-frontpage .view-header-slideshow button.slick-next {
    right: 10px;
    z-index: 15; }
  .path-frontpage .view-header-slideshow .views-row {
    position: relative; }
    .path-frontpage .view-header-slideshow .views-row .views-field-field-sl-text {
      background: #dddddd;
      padding: 10px 15px;
      font-size: 15.6px;
      font-size: 1.2rem; }
      .path-frontpage .view-header-slideshow .views-row .views-field-field-sl-text a {
        color: black; } }
.path-veranstaltungen .view-events .views-row {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5; }
  .path-veranstaltungen .view-events .views-row:last-child {
    border: none;
    margin-bottom: 0; }
  .path-veranstaltungen .view-events .views-row h2 {
    margin-bottom: 7px; }
  .path-veranstaltungen .view-events .views-row .views-field-field-event-date .views-label, .path-veranstaltungen .view-events .views-row .views-field-field-event-location .views-label {
    color: #a36e7c;
    color: #5f7f87;
    font-weight: 700;
    padding-right: 6px; }
  .path-veranstaltungen .view-events .views-row .views-field-field-event-date .field-content, .path-veranstaltungen .view-events .views-row .views-field-field-event-date .field-content p, .path-veranstaltungen .view-events .views-row .views-field-field-event-location .field-content, .path-veranstaltungen .view-events .views-row .views-field-field-event-location .field-content p {
    display: inline; }
  .path-veranstaltungen .view-events .views-row .views-field-field-event-date .field-content p, .path-veranstaltungen .view-events .views-row .views-field-field-event-location .field-content p {
    margin-bottom: 0; }
  .path-veranstaltungen .view-events .views-row .views-field-body {
    margin-top: 10px; }

.layout-sidebar-second .view-events h3 {
  margin-bottom: 0;
  font-size: 13px;
  font-size: 1rem; }
.layout-sidebar-second .view-events .views-row {
  margin-bottom: 7px; }
.layout-sidebar-second .view-events .views-field-field-event-date {
  line-height: 1.3;
  font-size: 12.22px;
  font-size: 0.94rem;
  color: #999999; }
.layout-sidebar-second .view-events .views-field-title a {
  color: #333333;
  font-size: 12.22px;
  font-size: 0.94rem; }

/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 768px) {
  .path-frontpage .view-news-startseite .views-field-field-image, .path-news .view-news-startseite .views-field-field-image {
    text-align: left; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 1024px) {
  .path-frontpage .view-header-slideshow .slick-slider {
    margin-bottom: 0; }
  .path-frontpage .view-header-slideshow .views-row .views-field-field-sl-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 15px;
    font-size: 14.95px;
    font-size: 1.15rem;
    line-height: 1.4;
    width: 30%; }
    .path-frontpage .view-header-slideshow .views-row .views-field-field-sl-text a {
      color: black; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.path-user form#user-login-form .form-item label {
  min-width: 125px; }

footer #block-masquerade {
  color: #333333; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.page-node-type-article .field--name-field-image {
  margin-bottom: 15px; }
.page-node-type-article .field--name-field-nw-image-gallery {
  margin-top: 15px; }
  .page-node-type-article .field--name-field-nw-image-gallery .field__item img {
    margin: auto; }
  .page-node-type-article .field--name-field-nw-image-gallery button.slick-prev, .page-node-type-article .field--name-field-nw-image-gallery button.slick-next {
    height: 35px;
    width: 35px;
    top: 47%; }
    .page-node-type-article .field--name-field-nw-image-gallery button.slick-prev:before, .page-node-type-article .field--name-field-nw-image-gallery button.slick-next:before {
      font-size: 35px;
      font-weight: normal;
      color: #cccccc; }
  .page-node-type-article .field--name-field-nw-image-gallery button.slick-prev {
    left: 10px;
    z-index: 15; }
  .page-node-type-article .field--name-field-nw-image-gallery button.slick-next {
    right: 10px;
    z-index: 15; }

.page-node-type-event .field--name-field-event-date, .page-node-type-event .field--name-field-event-location {
  font-size: 15.86px;
  font-size: 1.22rem;
  *zoom: 1;
  color: #888888; }
  .page-node-type-event .field--name-field-event-date:after, .page-node-type-event .field--name-field-event-location:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .page-node-type-event .field--name-field-event-date .field__label, .page-node-type-event .field--name-field-event-location .field__label {
    color: #a36e7c;
    color: #5f7f87;
    font-weight: 700;
    padding-right: 6px;
    font-size: 14.3px;
    font-size: 1.1rem;
    line-height: 1.8; }
  .page-node-type-event .field--name-field-event-date p, .page-node-type-event .field--name-field-event-location p {
    margin-bottom: 0; }
.page-node-type-event .field--name-body {
  margin-top: 13px; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
header {
  padding-top: 20px;
  *zoom: 1; }
  header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

#block-hsk-branding {
  width: 55%;
  float: left; }

nav#block-hsk-main-menu {
  display: none;
  *zoom: 1;
  clear: both; }
  nav#block-hsk-main-menu:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  nav#block-hsk-main-menu ul.menu {
    margin: 0;
    padding: 0; }
    nav#block-hsk-main-menu ul.menu li {
      display: inline;
      display: block; }
      nav#block-hsk-main-menu ul.menu li a {
        background: #bbbbbb;
        display: block;
        height: 42px;
        line-height: 42px;
        color: white;
        text-align: center;
        padding: 0 15px;
        font-size: 18.2px;
        font-size: 1.4rem; }
        nav#block-hsk-main-menu ul.menu li a:hover {
          background: #888888;
          text-decoration: none; }
        nav#block-hsk-main-menu ul.menu li a span.arrow {
          display: inline-block;
          width: 17px;
          height: 25px;
          background: url(../images/arrow-white-down.png) no-repeat right 16px; }
      nav#block-hsk-main-menu ul.menu li.menu-visible a {
        background: #444444; }
      nav#block-hsk-main-menu ul.menu li.menu-visible ul li a {
        background: #777777; }
      nav#block-hsk-main-menu ul.menu li ul {
        display: none; }
        nav#block-hsk-main-menu ul.menu li ul li a {
          background: #888888;
          font-size: 15.6px;
          font-size: 1.2rem;
          padding: 0; }
      nav#block-hsk-main-menu ul.menu li.menu-visible ul {
        display: block; }

#block-mobilemenubutton {
  width: 29px;
  height: 29px;
  background: url(../images/menu-icon.png) no-repeat center center;
  float: right;
  margin-left: 20px; }
  #block-mobilemenubutton .field--name-body, #block-mobilemenubutton a {
    display: block;
    height: 100%; }

nav#block-useraccountmenu {
  float: right; }
  nav#block-useraccountmenu ul {
    margin-top: 0; }
    nav#block-useraccountmenu ul li {
      display: inline; }
      nav#block-useraccountmenu ul li a {
        font-size: 13px;
        font-size: 1rem;
        line-height: 1.5;
        color: #333333;
        font-family: "Droid Sans", arial, helvetica, sans-serif;
        font-size: 11.7px;
        font-size: 0.9rem;
        color: #666666; }

nav#block-hsk-footer {
  float: right; }
  nav#block-hsk-footer ul {
    margin-top: 0; }
    nav#block-hsk-footer ul li {
      display: inline; }
      nav#block-hsk-footer ul li a {
        font-size: 13px;
        font-size: 1rem;
        line-height: 1.5;
        color: #333333;
        font-family: "Droid Sans", arial, helvetica, sans-serif;
        font-size: 11.7px;
        font-size: 0.9rem;
        color: #666666; }

.search-block-form {
  display: none; }
  .search-block-form input.form-search {
    border: 1px solid #aaaaaa; }

#block-views-block-header-slideshow-block-1 {
  clear: both; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 768px) {
  header {
    padding-top: 30px; }

  .search-block-form {
    display: block; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 1024px) {
  header #block-hsk-branding {
    width: auto; }
    header #block-hsk-branding .logo img {
      margin-left: 10px; }
  header nav#block-useraccountmenu {
    float: right;
    margin-top: 4px; }
  header nav#block-hsk-footer {
    margin-top: 4px;
    float: right; }
  header .search-block-form {
    clear: right;
    float: right;
    margin-top: 21px; }
  header nav#block-hsk-main-menu {
    clear: both; }

  nav#block-hsk-main-menu {
    margin-bottom: 0;
    clear: both;
    padding-top: 30px;
    display: table !important;
    width: 100%; }
    nav#block-hsk-main-menu ul.menu {
      display: table-row;
      width: 100%; }
      nav#block-hsk-main-menu ul.menu li.menu-visible.has-submenu a {
        background: #717171;
        border-bottom: 1px solid #cccccc; }
      nav#block-hsk-main-menu ul.menu li.menu-visible.has-submenu ul li a {
        border-bottom: 0;
        background: #999999; }
      nav#block-hsk-main-menu ul.menu li, nav#block-hsk-main-menu ul.menu li.menu-visible {
        display: table-cell;
        padding-top: 0;
        padding-right: 2px;
        position: relative; }
        nav#block-hsk-main-menu ul.menu li:last-child, nav#block-hsk-main-menu ul.menu li.menu-visible:last-child {
          padding-right: 0; }
        nav#block-hsk-main-menu ul.menu li a, nav#block-hsk-main-menu ul.menu li.menu-visible a {
          float: left;
          min-width: 150px;
          width: 100%;
          text-align: center;
          font-size: 18.2px;
          font-size: 1.4rem;
          height: 42px;
          line-height: 42px; }
          nav#block-hsk-main-menu ul.menu li a:hover, nav#block-hsk-main-menu ul.menu li.menu-visible a:hover {
            background: #717171; }
        nav#block-hsk-main-menu ul.menu li ul, nav#block-hsk-main-menu ul.menu li.menu-visible ul {
          position: absolute;
          top: 42px;
          left: 0;
          z-index: 20;
          width: auto;
          background: #999999; }
          nav#block-hsk-main-menu ul.menu li ul li, nav#block-hsk-main-menu ul.menu li.menu-visible ul li {
            display: block;
            padding-top: 0;
            padding-right: 0;
            border-bottom: 1px solid #cccccc; }
            nav#block-hsk-main-menu ul.menu li ul li:last-child, nav#block-hsk-main-menu ul.menu li.menu-visible ul li:last-child {
              border-bottom: none; }
            nav#block-hsk-main-menu ul.menu li ul li a, nav#block-hsk-main-menu ul.menu li.menu-visible ul li a {
              float: none;
              white-space: nowrap;
              background: #999999;
              font-size: 15.6px;
              font-size: 1.2rem;
              padding: 0 30px;
              text-align: left; }
              nav#block-hsk-main-menu ul.menu li ul li a:hover, nav#block-hsk-main-menu ul.menu li.menu-visible ul li a:hover {
                background: #777777; }

  #block-mobilemenubutton {
    display: none; }
    #block-mobilemenubutton:hover {
      cursor: pointer;
      cursor: hand; }

  .path-frontpage nav#block-hsk-main-menu {
    border-bottom: 1px solid #999999; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.path-frontpage #block-views-block-header-slideshow-block-1, .path-news #block-views-block-header-slideshow-block-1 {
  display: none; }
.path-frontpage .view-news-startseite .views-field-title h2, .path-news .view-news-startseite .views-field-title h2 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.3;
  font-size: 18.2px;
  font-size: 1.4rem; }
.path-frontpage .view-news-startseite .views-row, .path-news .view-news-startseite .views-row {
  margin-bottom: 15px; }

.path-frontpage main .content-bottom .block#block-views-block-events-block-1-2 h3 {
  margin-bottom: 0;
  font-size: 13px;
  font-size: 1rem; }
.path-frontpage main .content-bottom .block#block-views-block-events-block-1-2 .views-row {
  margin-bottom: 7px; }
.path-frontpage main .content-bottom .block#block-views-block-events-block-1-2 .views-field-field-event-date {
  line-height: 1.2; }
.path-frontpage main .content-bottom .block#block-hannoverimgesprachsirgreenestiftung img {
  margin-bottom: 20px; }
  .path-frontpage main .content-bottom .block#block-hannoverimgesprachsirgreenestiftung img:last-child {
    margin-bottom: 0; }
.path-frontpage main .content-bottom .block#block-derpresseclubhannover {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 768px) {
  .path-frontpage #block-views-block-header-slideshow-block-1 {
    display: block; }

  .path-frontpage .view-news-startseite .views-row, .path-news .view-news-startseite .views-row {
    *zoom: 1; }
    .path-frontpage .view-news-startseite .views-row:after, .path-news .view-news-startseite .views-row:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden; }
  .path-frontpage .view-news-startseite .views-field-field-image, .path-news .view-news-startseite .views-field-field-image {
    float: left; }
    .path-frontpage .view-news-startseite .views-field-field-image img, .path-news .view-news-startseite .views-field-field-image img {
      margin-top: 5px; }
  .path-frontpage .view-news-startseite .views-field-title, .path-frontpage .view-news-startseite .views-field-body, .path-frontpage .view-news-startseite .views-field-view-node, .path-news .view-news-startseite .views-field-title, .path-news .view-news-startseite .views-field-body, .path-news .view-news-startseite .views-field-view-node {
    margin-left: 240px; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 1024px) {
  .path-frontpage main {
    padding-bottom: 0; }
    .path-frontpage main .content-bottom .block {
      float: left;
      width: 30%; }
      .path-frontpage main .content-bottom .block#block-views-block-events-block-1-2, .path-frontpage main .content-bottom .block#block-hannoverimgesprachsirgreenestiftung {
        margin-right: 5%; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
