$divider-line: 1px solid #e5e5e5

@mixin divider-line-bottom
  margin-bottom: 20px
  padding-bottom: 10px
  border-bottom: 1px solid $divider-line-color

@mixin highlighted-field-label
  color: $red-grey
  color: $turkis-grey-lighter
  font-weight: $bold
  padding-right: 6px

@mixin tab-container
  +border-radius(5px 5px 0 0)
  margin: 12px 0 0
  background: #ddd
  .tab-button
    +tab-button

@mixin tab-button
  display: inline-block
  padding: 12px 12px
  +border-radius(5px 5px 0 0)
  margin-right: 7px
  color: #777
  //background: #f5f5f5
  +x-rem(font-size, 0.9)
  font-weight: bold
  &.active
    border: 1px solid #bbb
    border-bottom: none
    background: white
    color: $base-text-color
  &:hover
    cursor: pointer
    cursor: hand
  &:last-child
    margin-right: 0

@mixin tab-content-container
  border: 1px solid #ccc
  border-top: 0
  padding: 25px 22px 12px


