/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */

#toolbar-item-administration-tray
  font-weight: normal

header
  &.main-header
    z-index: 1
  padding-top: 20px
  +legacy-pie-clearfix
  .brand
    .site-branding__name, .site-branding__name a
      line-height: 1.2
      font-family: $roboto-slab
      color: #888
      +x-rem(font-size, 1.5)
    .site-branding__slogan
      color: #555
      font-family: $roboto-slab
      +x-rem(font-size, 0.8)

  .region-primary-menu
    display: none

#block-hsk-branding
  width: 55%
  float: left



nav#block-hsk-zymphonies-main-menu
  @include legacy-pie-clearfix
  clear: both
  ul.menu
    margin: 0
    padding: 0
    li
      a
        background: #f3f3f3
        border-bottom: 1px solid #ccc
        color: $base-text-color
        &:hover, &.highlighted
          background: #e5e5e5
        .sub-arrow
          background: white
          color: #555
          border: 1px solid #ccc
          &:hover
            color: black
            border: 1px solid #aaa
            color: white
            background: $primary-color
      ul
        display: none
        li
          a
            padding-left: 25px
            background: #e5e5e5
            +x-rem(font-size, 0.95)
            &:hover, &.highlighted
              background: #d5d5d5
          ul
            li
              a
                background: #d5d5d5


#block-mobilemenubutton
  width: 29px
  height: 29px
  background: url(../images/menu-icon.png) no-repeat center center
  float: right
  margin-left: 20px
  .field--name-body, a
    display: block
    height: 100%


nav#block-useraccountmenu
  float: right
  ul
    margin-top: 0
    li
      display: inline
      a
        +font-smaller
        color: $grey-text
nav#block-hsk-footer
  float: right
  ul
    margin-top: 0
    li
      display: inline
      a
        +font-smaller
        color: $grey-text

.search-block-form
  display: none
  input.form-search
    border: 1px solid #aaa

#block-views-block-header-slideshow-block-1
  clear: both


/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)


/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)
  header
    padding-top: 30px
    .navbar-toggle
      display: block
      position: relative
      float: right
      padding: 9px 10px
      margin-top: 8px
      margin-right: 15px
      margin-bottom: 8px
      //.icon-bar
      //  display: block
      //  width: 22px
      //  height: 2px
      //  border-radius: 1px
    &.main-header
      .navigation
        clear: both

  .search-block-form
    display: block






/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  header
    .navbar-toggle
      display: none
    //  position: relative
    //  float: right
    &.main-header
      nav
        padding-bottom: 15px
        .region-primary-menu
          display: block
          margin-top: 8px
      .navigation
        clear: none
    #block-hsk-branding
      width: auto
      .logo
        img
          margin-left: 10px

    .brand
      .site-branding__name, .site-branding__name a
        +x-rem(font-size, 2)
        margin-bottom: 2px
      .site-branding__slogan
        +x-rem(font-size, 0.88)

    nav#block-useraccountmenu
      float: right
      margin-top: 4px
    nav#block-hsk-footer
      margin-top: 4px
      float: right
    .search-block-form
      clear: right
      float: right
      margin-top: 21px
    nav#block-hsk-main-menu
      clear: both





    nav#block-hsk-zymphonies-main-menu
      +legacy-pie-clearfix
      ul.menu
        li
          display: inline
          float: left
          margin-right: 5px
          text-transform: uppercase
          font-family: $roboto-slab
          &:hover
            background: none
          &.active
            a
              background: $primary-color
              color: white
            ul
              li
                a
                  background: none
          a
            background: none
            border: none
            color: $light-grey-text
            float: left
            padding: 3px 10px
            +border-radius(5px)
            &.is-active
              background: $primary-color
              color: white
            &:hover
              background: $primary-color
              color: white
              text-decoration: none
            &.has-submenu:hover
              background: none
              color: #888
            &.highlighted, &.highlighted:hover
              background: $primary-color
              color: white
            &.has-submenu.highlighted
              +border-radius(4px 4px 0 0)
          a
            span.sub-arrow
              display: none

          ul
            background: $primary-color
            min-width: 210px!important
            border: none
            top: 27px!important
            padding: 8px 0
            +border-radius(0 4px 4px 4px)
            li
              margin-right: 0
              float: none
              display: block
              a
                float: none
                color: white
                padding: 6px 15px
                background: none
                &:hover, &.highlighted
                  color: black
                  background: none
              ul
                background: #b76400
                top: 27px!important
                min-width: 210px!important
                li
                  a
                    background: none
                    &:hover, &.highlighted
                      background: none

  #block-mobilemenubutton
    display: none
    &:hover
      cursor: pointer
      cursor: hand

  .path-frontpage
    nav#block-hsk-main-menu
      border-bottom: 1px solid #999


/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)


/* End Media Query Tablet */
