.page-node-type-layout-page
  .sidebar
    margin-top: 0
  #block-tabs
    +hsk-container
  form.node-layout-page-layout-builder-form, .messages
    +hsk-container
  &.node-bundesliga
    .content_layout
      .region-content
        margin-bottom: 0
        #block-hsk-zymphonies-content
          margin-bottom: 0
    .hsk-onecol
      &.sponsoren-logos-container
        background: #eee
        margin-bottom: 3em
      &.further-news
        background: #eee
        padding-top: 4em
        padding-bottom: 3em
    .block-block-content
      &.sponsoren-logos
        padding: 2em 0
        margin-bottom: 0
        .field__item
          margin-bottom: 1.5em
        .image
          img
            max-width: 200px
            max-height: 70px
            width: auto
    .top-news
      &.block-views-blockbundesliga-news-block-1
        >h2
          font-size: 2rem
          margin-bottom: 1em
        .view-content
          .views-row
            margin-bottom: 2em
            .views-field-field-image
              margin-bottom: 0.5em
            .views-field-title
              h2
                font-size: 1.35rem
        .views-field-bundesliga-tags
          ul
            margin: 0
            padding: 0
            li
              +tag-flag
    .view-bundesliga-news
      &.view-display-id-block_2
        .views-row
          margin-bottom: 3.5em
          h2.title
            margin-bottom: 0.4em
          .meta
            margin-bottom: 0.4em
            .date
              font-size: 0.8rem
              color: $light-grey-text
              &:after
                content: "-"
                margin-left: 0.15em
                margin-right: 0.15em
            .author
              a
                font-size: 0.8rem
                color: $light-grey-text
            .tags
              margin-left: 1em
              .item-list
                display: inline-block
              ul
                margin: 0
                padding: 0
                li
                  +tag-flag-darker





/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)

  .page-node-type-layout-page
    .content_layout
      +make-md-column(12)

  .block-block-content
    &.sponsoren-logos
      .field--name-field-paragraphs
        display: flex
        .field__item
          margin-right: 4em
          display: flex
          align-items: center
      .image
        img
          max-width: 200px
          max-height: 70px
          width: auto

  .page-node-type-layout-page
    &.node-bundesliga
      .block-block-content
        &.sponsoren-logos
          padding: 2em 0
          margin-bottom: 0
          .field--name-body
            h2
              padding-bottom: 0.5em
          .field__item
            margin-bottom: 0
      .top-news
        &.block-views-blockbundesliga-news-block-1
          .view-content
            +make-row()
            .views-row
              +make-md-column(4)
              padding-right: 2em
      .view-bundesliga-news
        &.view-display-id-block_2
          .views-row
            .image-body
              display: flex
              .image
                width: 300px
                margin-right: 1.5em
                img
                  max-width: none
