/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  padding: 0

img
  max-width: 100%
  height: auto

.messages
  margin: 30px 0 0 8px

.path-frontpage
  .feed-icons
    display: none

.node__submitted
  +submitted

ul.tabs
  &.primary
    margin-bottom: 20px
    li
      a
        border: 1px solid #eee
        &:hover
          text-decoration: none

// Styling correction for the place block module
// The plus icon was not displayed before because the anchor
// element was an inline element and could not have a width
.block-place-region a.button
  display: inline-block

table
  +x-rem(font-size, 1)
  background: white
  margin-bottom: 10px
  th, td
    text-align: center
    padding: 2px 6px
    border: 1px solid #ccc
    +x-rem(font-size, 1)
  th
    background: $secondary-color
    color: white

i.icon
  font-family: 'FontAwesome'
  font-style: normal

.messages
  margin-bottom: 30px

/* Slick Slider Styling */
.slick-list
  z-index: 2

button, a
  &.btn
    color: #eee
    &:hover
      color: white



/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)


/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)


/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  table
    +x-rem(font-size, 0.9)
    th, td
      +x-rem(font-size, 0.9)
      font
        font-size: 14px!important

  button
    &.slick-prev, &.slick-next
      z-index: 7
      display: block
      left: 35px
      width: 42px
      height: 42px
      &:before
        position: absolute
        top: 0px
        left: 0
        background: white
        width: 42px
        height: 42px
        line-height: 44px
        text-align: center
        padding-right: 5px
        +border-radius(21px)
        z-index: 8
        font-family: Fontawesome
        content: "\f053"
        color: #aaa
        +x-rem(font-size, 2)
    &.slick-next
      left: auto
      right: 35px
      &:before
        content: "\f054"
        padding-left: 10px


/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)


/* End Media Query Tablet */