/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */

header
  padding-top: 20px
  +legacy-pie-clearfix
  .brand
    .site-branding__name, .site-branding__name a
      line-height: 1.2
      font-family: $roboto-slab
      color: #888
    .site-branding__slogan
      color: #555
      font-family: $roboto-slab

#block-hsk-branding
  width: 55%
  float: left

nav#block-hsk-zymphonies-main-menu
  display: none
  @include legacy-pie-clearfix
  clear: both
  ul.menu
    margin: 0
    padding: 0
    li
      display: inline
      display: block
      a
        background: #bbb
        display: block
        height: 42px
        line-height: 42px
        color: white
        text-align: center
        padding: 0 15px
        +font-size-medium
        &:hover
          background: #888
          text-decoration: none
        span.arrow
          display: inline-block
          width: 17px
          height: 25px
          background: url(../images/arrow-white-down.png) no-repeat right 16px
      &.menu-visible
        a
          background: #444
        ul
          li
            a
              background: #777
      ul
        display: none // Initially hide the submenus
        li
          a
            background: #888
            +font-size-slightly-bigger
            padding: 0
      &.menu-visible
        ul
          display: block

#block-mobilemenubutton
  width: 29px
  height: 29px
  background: url(../images/menu-icon.png) no-repeat center center
  float: right
  margin-left: 20px
  .field--name-body, a
    display: block
    height: 100%


nav#block-useraccountmenu
  float: right
  ul
    margin-top: 0
    li
      display: inline
      a
        +font-smaller
        color: $grey-text
nav#block-hsk-footer
  float: right
  ul
    margin-top: 0
    li
      display: inline
      a
        +font-smaller
        color: $grey-text

.search-block-form
  display: none
  input.form-search
    border: 1px solid #aaa

#block-views-block-header-slideshow-block-1
  clear: both

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)


/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)
  header
    padding-top: 30px

  .search-block-form
    display: block




/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  header
    #block-hsk-branding
      width: auto
      .logo
        img
          margin-left: 10px

    .brand
      .site-branding__name, .site-branding__name a
        +x-rem(font-size, 2)
        margin-bottom: 2px
      .site-branding__slogan
        +x-rem(font-size, 0.88)

    nav#block-useraccountmenu
      float: right
      margin-top: 4px
    nav#block-hsk-footer
      margin-top: 4px
      float: right
    .search-block-form
      clear: right
      float: right
      margin-top: 21px
    nav#block-hsk-main-menu
      clear: both

        //nav#block-hsk-zymphonies-main-menu
        //  margin-bottom: 0
        //  clear: both
        //  padding-top: 25px
        //  display: table!important
        //  width: 100%
        //  ul.menu
        //    display: table-row
        //    width: 100%
        //    li.menu-visible.has-submenu
        //      a
        //        background: #717171
        //        border-bottom: 1px solid #ccc
        //      ul
        //        li
        //          a
        //            border-bottom: 0
        //            background: #999
        //    li, li.menu-visible
        //      display: table-cell
        //      padding-top: 0
        //      padding-right: 2px
        //      position: relative
        //      &:last-child
        //        padding-right: 0
        //      a
        //        float: left
        //        min-width: 150px
        //        width: 100%
        //        text-align: center
        //        +font-size-medium
        //        height: 42px
        //        line-height: 42px
        //        &:hover
        //          background: #717171
        //      ul
        //        position: absolute
        //        top: 42px
        //        left: 0
        //        z-index: 20
        //        width: auto
        //        background: #999
        //        li
        //          display: block
        //          padding-top: 0
        //          padding-right: 0
        //          border-bottom: 1px solid #ccc
        //          &:last-child
        //            border-bottom: none
        //          a
        //            float: none
        //            white-space: nowrap
        //            background: #999
        //            +font-size-slightly-bigger
        //            padding: 0 30px
        //            text-align: left
        //            &:hover
        //              background: #777

    nav#block-hsk-zymphonies-main-menu
      display: block
      ul#main-menu
        display: table-row
        width: 100%
        li.active
          a
            background: $primary-color
        li
          margin-right: 5px
          &:hover
            background: none
          a
            &:hover
              background: $primary-color
              color: white
            &.has-submenu:hover
              background: none
              color: #888
            &.highlighted, &.highlighted:hover
              background: $primary-color
              color: white
            &.has-submenu.highlighted
              +border-radius(4px 4px 0 0)
          a
            span.sub-arrow
              display: none

        ul
          background: $primary-color
          border: none
          top: 29px
          +border-radius(0 4px 4px 4px)
          li
            margin-right: 0
            a
              color: white
              padding: 6px 15px
              &:hover
                background: $primary-color
                color: black
                +border-radius(0)

  #block-mobilemenubutton
    display: none
    &:hover
      cursor: pointer
      cursor: hand

  .path-frontpage
    nav#block-hsk-main-menu
      border-bottom: 1px solid #999


/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)


/* End Media Query Tablet */