/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
.offcanvas-lining
  background: transparent

#page-title
  background: #ddd
  border-top: 5px solid #ccc
  border-bottom: 5px solid #ccc
  #block-pagetitle
    margin-bottom: 0
  h1
    color: black
    display: inline-block
    margin: 20px 0 -5px
    padding-bottom: 25px
    +x-rem(font-size, 2)
    border-bottom: 5px solid $primary-color

.content_layout
  margin-top: 30px
  .region-content
    margin-bottom: 40px

.sidebar
  ul.menu
    li
      display: block
      float: none
      text-transform: uppercase
      border-bottom: 1px solid #ccc
      font-family: $roboto-slab
      &.menu-item--expanded
        list-style-image: none
        list-style-type: none
        border-bottom: 0
        > a
          border-bottom: 1px solid #ccc
      &.menu-item--active-trail
        > a
          color: $link-color
      a
        color: $light-grey-text
        padding: 7px 0 7px 4px
        display: block
        &:hover
          text-decoration: none
          color: $link-color
        &.is-active
          color: $link-color
      ul
        display: block
        position: static
        li
          a
            +x-rem(font-size, 0.85)
            &:before
              content: "\2022"
              color: #bbb
              margin-right: 5px


.footer-menu
  background: #999
  a
    color: white
.copyright
  background: #818181




/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)
  #toolbar-administration
    z-index: 90
  header.main-header
    z-index: 10

/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)





/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)



/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)


/* End Media Query Tablet */