/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
.offcanvas-lining
  background: transparent


/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)
  #toolbar-administration
    z-index: 90
  header.main-header
    z-index: 10

/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)





/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)



/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)


/* End Media Query Tablet */