/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
.node
  .comment-submitted
    border: none
    padding: 0
  .field--name-field-tags
    clear: left
    .field__label
      font-weight: normal
      display: inline-block
    .field__items
      display: inline-block
    .field__item
      display: inline-block
      a
        +x-rem(font-size, 0.8)
        color: $light-grey-text
        border: 1px solid #ddd
        +border-radius(7px)
        line-height: 1
        padding: 0 5px 1px
  .node__links
    margin-top: 8px
    li
      padding-left: 0
    a
      +x-rem(font-size, 0.8)
      color: $light-grey-text

.page-node-type-article
  node__content
    +legacy-pie-clearfix
  .field--name-field-image
    margin-bottom: 15px
    img
      display: block
      margin: auto

.page-node-type-page
  .node-turniere
    .content-box
      text-align: center
      min-height: 320px
      h3
        +x-rem(font-size, 1.35)
      .box-text
        color: #666
      a
        display: inline-block
      a:hover
        text-decoration: none
      h3, .box-text
        a:hover
          text-decoration: underline
      i:before
        font-family: 'Fontawesome'
        content: "\f091"
        +x-rem(font-size, 4)
        width: 110px
        height: 110px
        +border-radius(55px)
        background: $grey-background
        color: white
        display: block
        margin: auto
        line-height: 110px
      a:hover
        i:before
          color: #333
      &.vereinsmeisterschaft
        i:before
          background: $primary-color
          content: "\f135"
        h3, h3 a
          color: $primary-color
      &.pokal
        h3, h3 a
          color: darken($grey-background, 10%)
      &.blitz
        i:before
          background: $blue
          content: "\f0e7"
        h3, h3 a
          color: darken($blue, 10%)
      &.schnellschach
        i:before
          content: "\f017"
        h3, h3 a
          color: darken($grey-background, 10%)
      &.tusi
        i:before
          content: "\f248"
          background: $blue
          +x-rem(font-size, 3)
        h3, h3 a
          color: darken($blue, 10%)
      &.thema
        i:before
          content: "\f02d"
          background: $primary-color
        h3, h3 a
          color: $primary-color

.page-node-type-turnier
  #table-tabs
    +tab-container

  #info-tabs
    +tab-content-container
    > .field
      display: none
      &:first-child
        display: block
      .field__label
        display: none
    .field--name-field-pairings
      table
        th
          border-right: 3px solid white
          &:last-child
            border-right: none
  // Special styling for the Schnellschach and Blitz Turnier
  // page, since the tables are too wide
  &.node-schnellschach, &.node-monatsblitz
    #info-tabs
      border-right: 0

.page-node-type-team
  .group-kader
    .views-field-field-player-image
      img
        width: 45px
        height: auto



/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)


/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)
  .page-node-type-article
    .field--name-field-image
      float: left
      margin: 5px 15px 5px 0

  .page-node-type-page
    .node-turniere
      +make-row()
      .content-box
        +make-sm-column(6)
        min-height: 320px

  .page-node-type-team
    .node__content
      //display: flex
      .field
        margin-right: 20px

.node-vereinsmeisterschaft, .node-meisterturnier,
.node-vormeisterturnier, .node-hauptturnier
  #page-title
    h1
      +pagetitle-with-icon
.node-vereinspokal
  #page-title
    h1
      +pagetitle-with-icon
      &:before
        background: $grey-background
        content: "\f091"
.node-monatsblitz
  #page-title
    h1
      +pagetitle-with-icon
      &:before
        background: $blue
        content: "\f0e7"
.node-schnellschach
  #page-title
    h1
      +pagetitle-with-icon
      &:before
        background: $grey-background
        content: "\f017"







/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  .page-node-type-page
    .node-turniere
      .content-box
        +make-md-column(4)
        min-height: 320px

  .page-node-type-turnier
    #info-tabs
      .field--name-field-standings
        table
          width: 100%
      .field--name-field-current-results
        table
          min-width: 50%
      .field--name-field-pairings
        table
          width: 100%
      .field--name-field-pairings
        table
          th, td
            +x-rem(font-size, 0.8)
          td
            padding-left: 3px
            padding-right: 3px
    // Special styling for the Schnellschach and Blitz Turnier
    // page, since the tables are too wide
    &.node-schnellschach, &.node-monatsblitz
      .col-md-9
        float: none
        width: 100%



/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)
  .page-node-type-turnier
    // Special styling for the Schnellschach and Blitz Turnier
    // page, since the tables are too wide
    &.node-schnellschach
      #info-tabs
        border-right: 1px solid #ccc


/* End Media Query Tablet */