/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
.node
  +legacy-pie-clearfix
  .comment-submitted
    border: none
    padding: 0
  ul.links.inline
    .comment-forbidden
      display: none
  .field--name-field-tags
    clear: left
    .field__label
      font-weight: normal
      display: inline-block
    .field__items
      display: inline-block
    .field__item
      display: inline-block
      a
        +x-rem(font-size, 0.8)
        color: $light-grey-text
        border: 1px solid #ddd
        +border-radius(7px)
        line-height: 1
        padding: 0 5px 1px
  .node__links
    margin-top: 8px
    li
      padding-left: 0
    a
      +x-rem(font-size, 0.8)
      color: $light-grey-text
  h2, h3
    clear: both

  .embedded-entity
    margin-top: 12px
    float: left
    text-align: center
    width: 100%
    .node--type-player
      padding: 0 15px
      height: 187px
      h2
        +x-rem(font-size, 1.2)
      .field--name-field-player-image
        margin-bottom: 5px
      .field--name-field-function-club
        max-width: 135px
        margin: auto
        +small-label
        line-height: 1.3
        color: #888

  // Image galleries from Paragraphs
  .field--name-field-gallery-below-body
    margin: 10px 0 8px
  .paragraph--type--image-gallery
    .field__items
      display: flex
      flex-wrap: wrap
      .field__item
        a
          display: block
          padding: 8px
          margin: 0 17px 17px 0
          background: white
          +box-shadow(0px 0px 3px #eee)
          border: 1px solid #e5e5e5


.page-node-type-article
  node__content
    +legacy-pie-clearfix
  .field--name-field-image
    margin-bottom: 15px
    img
      display: block
      margin: auto
  .field--name-field-new-txt-capt-main-img
    +x-rem(font-size, 0.85)
    color: $light-grey-text
    margin-bottom: 20px
    margin-top: -5px
.page-node-type-page
  .node-turniere
    .content-box
      text-align: center
      min-height: 320px
      h3
        +x-rem(font-size, 1.35)
      .box-text
        color: #666
      a
        display: inline-block
      a:hover
        text-decoration: none
      h3, .box-text
        a:hover
          text-decoration: underline
      i:before
        font-family: 'Fontawesome'
        content: "\f091"
        +x-rem(font-size, 4)
        width: 110px
        height: 110px
        +border-radius(55px)
        background: $grey-background
        color: white
        display: block
        margin: auto
        line-height: 110px
      a:hover
        i:before
          color: #333
      &.vereinsmeisterschaft
        i:before
          background: $primary-color
          content: "\f135"
        h3, h3 a
          color: $primary-color
      &.pokal
        h3, h3 a
          color: darken($grey-background, 10%)
      &.blitz
        i:before
          background: $blue
          content: "\f0e7"
        h3, h3 a
          color: darken($blue, 10%)
      &.schnellschach
        i:before
          content: "\f017"
        h3, h3 a
          color: darken($grey-background, 10%)
      &.tusi
        i:before
          content: "\f248"
          background: $blue
          +x-rem(font-size, 3)
        h3, h3 a
          color: darken($blue, 10%)
      &.thema
        i:before
          content: "\f02d"
          background: $primary-color
        h3, h3 a
          color: $primary-color

.page-node-type-turnier
  #table-tabs
    +tab-container

  #info-tabs
    overflow-x: auto
    +tab-content-container
    > .field
      display: none
      &:first-child
        display: block
      .field__label
        display: none
    .field--name-field-pairings
      table
        th
          border-right: 3px solid white
          &:last-child
            border-right: none
  // Special styling for the Schnellschach and Blitz Turnier
  // page, since the tables are too wide
  &.node-schnellschach, &.node-monatsblitz
    #info-tabs
      border-right: 0

.page-node-type-team
  .group-team-results
    .details-wrapper
      overflow-x: auto
    .horizontal-tabs
      +tab-group-container
      padding-top: 0
    .horizontal-tabs-panes
      +tab-content-container
      padding-top: 0.7em
    .view-kader-2
      +legacy-pie-clearfix
      header
        padding: 0
      .views-row
        &.row-1
          .views-field-field-dwz
            position: relative
            &:before
              content: "DWZ"
              position: absolute
              top: -28px
              color: $light-grey-text
              +x-rem(font-size, 0.8)
              margin-left: 2px
        display: flex
        clear: left
        float: left
        align-items: center
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: $divider-line
        .views-field
          margin-right: 12px
          &:last-child
            margin: 0
        .views-field-counter
          width: 20px
        .views-field-title-1
          width: 140px
        .views-field-field-player-image
          img
            width: 45px
            height: auto

div#sliding-popup
  background: transparent
  .eu-cookie-compliance-banner
    background: $blue
    padding-top: 0.5em
    p
      font-weight: normal
      line-height: 1.7
    #popup-buttons
      button
        +button-orange
        text-shadow: none
        border: none
        box-shadow: none
        color: white
        margin-top: 0.7em

.field--name-field-pgn-txt-pgn
  .cbreplay
    margin-bottom: 13px
  .description
    display: block
    margin-bottom: 25px
    +x-rem(font-size, 0.75)
    color: #777



/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)


/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)
  .node
    .embedded-entity
      margin-top: 12px
      float: left
      text-align: center
      width: 33.3%
      h2
        +x-rem(font-size, 1.1)

  .page-node-type-article
    .field--name-field-image
      +legacy-pie-clearfix
      img
        float: left


  .page-node-type-page
    .node-turniere
      +make-row()
      .content-box
        +make-sm-column(6)
        min-height: 320px

  .page-node-type-team
    .node__content
      //display: flex
      .field
        margin-right: 20px
    .group-top
      +make-row
      .field--name-field-team-description
        +make-md-column(9)
        margin-right: 0
      .views-element-container
        +make-md-column(3)
        margin-right: 0
        .views-field-field-player-image
          margin-bottom: 5px
        .views-field-title
          .views-label
            +small-label
            color: $light-grey-text
            //font-weight: normal
            display: block
            margin-bottom: 0
          .field-content
            display: block

.node-vereinsmeisterschaft, .node-meisterturnier,
.node-vormeisterturnier, .node-hauptturnier
  #page-title
    h1
      +pagetitle-with-icon
.node-vereinspokal
  #page-title
    h1
      +pagetitle-with-icon
      &:before
        background: $grey-background
        content: "\f091"
.node-monatsblitz
  #page-title
    h1
      +pagetitle-with-icon
      &:before
        background: $blue
        content: "\f0e7"
.node-schnellschach
  #page-title
    h1
      +pagetitle-with-icon
      &:before
        background: $grey-background
        content: "\f017"

figure
  figcaption
    +small-grey-links
    line-height: 1.3
    margin-top: 0.5em
    margin-bottom: 1em







/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  .page-node-type-page
    .node-turniere
      .content-box
        +make-md-column(4)
        min-height: 320px

  .page-node-type-turnier
    #info-tabs
      .field--name-field-standings
        table
          width: 100%
      .field--name-field-current-results
        table
          min-width: 50%
      .field--name-field-pairings
        table
          width: 100%
      .field--name-field-pairings
        table
          th, td
            +x-rem(font-size, 0.8)
          td
            padding-left: 3px
            padding-right: 3px
    // Special styling for the Schnellschach and Blitz Turnier
    // page, since the tables are too wide
    &.node-schnellschach, &.node-monatsblitz, &.node-vereinspokal, &.node-seniorenschnellschach
      .col-md-9
        float: none
        width: 100%



/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)
  .page-node-type-turnier
    // Special styling for the Schnellschach and Blitz Turnier
    // page, since the tables are too wide
    &.node-schnellschach
      #info-tabs
        border-right: 1px solid #ccc


/* End Media Query Tablet */
