/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
.path-frontpage
  .view-header-slideshow
    .views-row
      position: relative
      .views-field-field-sl-text
        background: #888
        color: white
        +x-rem(font-size, 1.1)
        padding: 7px
        p
          margin-bottom: 0

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)



/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)


/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  .path-frontpage
    .view-header-slideshow
      .views-row
        .views-field-field-sl-text
          position: absolute
          left: 30px
          bottom: 30px
          background: rgba(125,125,125,0.6)
          color: white
          padding: 15px 20px
          +x-rem(font-size, 1.3)



/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)


/* End Media Query Tablet */