/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes -------------*/
/*------------------------------------------- */
/*------------------------------------------- */
.path-frontpage
  .view-header-slideshow
    .views-row
      position: relative
      .views-field-field-sl-text
        background: #888
        color: white
        +x-rem(font-size, 1.1)
        padding: 7px
        p
          margin-bottom: 0
        a
          color: white
      .views-field-field-fc-sl-image
        img
          width: 100%

.sidebar
  .view-events-list
    .views-field-title
      h3
        +x-rem(font-size, 1)
    .views-field-field-ev-start-time
      color: #777
      +x-rem(font-size, 0.9)
      .date
        display: inline
      .time
        display: inline
        &:before
          content: "-"
          padding: 0 0 0 1px

.path-news
  .view-news
    .views-row
      margin-bottom: 15px



/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ----------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet-portrait)



/* End Media Query Tablet Portrait */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  -------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-tablet)


/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  --------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop-narrow)
  .path-frontpage
    #block-views-block-header-slideshow-block-1
      width: 100%
      overflow: hidden
      .view-header-slideshow
        .views-row
          max-height: 450px
          .views-field-field-sl-text
            position: absolute
            bottom: 20px
            width: 100%
            background: none
            a
              background: rgba(125,125,125,0.6)
              color: white
              padding: 15px 20px
              +x-rem(font-size, 1.3)
              float: left
  .path-news
    .view-news
      .views-row
        +legacy-pie-clearfix
      .field--name-field-image
        float: left
        margin: 5px 15px 5px 0

  .sidebar
    .view-events-list
      .views-field-title
        h3
          +x-rem(font-size, 0.85)
      .views-field-field-ev-start-time
        +x-rem(font-size, 0.8)





/* End Media Query Tablet */

/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------*/
/*------------------------------------------- */
/*------------------------------------------- */
+breakpoint($breakpoint-desktop)
  .path-frontpage
    #block-views-block-header-slideshow-block-1
      height: 450px


/* End Media Query Tablet */