@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i);
html {
  font-size: 15.5px; }

body {
  font-size: 13px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  /*- Desktop narrow - */ }
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 11.7px;
      font-size: 0.9rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 0;
  color: black; }

h2 {
  font-size: 19.5px;
  font-size: 1.5rem; }

.block h2.block-title {
  margin-bottom: 10px;
  font-size: 17.55px;
  font-size: 1.35rem; }

.sidebar-second .block h2.block-title {
  font-size: 16.9px;
  font-size: 1.3rem; }

.path-node h1 {
  margin-bottom: 10px; }

a {
  color: #cc0033;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 19.5px;
    font-size: 1.5rem; }

  .block h2.block-title {
    margin-bottom: 10px;
    font-size: 19.5px;
    font-size: 1.5rem; }

  .sidebar-second .block h2.block-title {
    font-size: 18.2px;
    font-size: 1.4rem; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.messages {
  margin: 30px 0 0 8px; }

.path-frontpage .feed-icons {
  display: none; }

.node__submitted {
  font-size: 11.05px;
  font-size: 0.85rem;
  color: #888888;
  margin-bottom: 15px; }

ul.tabs.primary {
  margin-bottom: 20px; }
  ul.tabs.primary li a {
    border: 1px solid #eeeeee; }
    ul.tabs.primary li a:hover {
      text-decoration: none; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.offcanvas-lining {
  background: transparent; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 480px) {
  #toolbar-administration {
    z-index: 90; }

  header.main-header {
    z-index: 10; } }
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
.path-user form#user-login-form .form-item label {
  min-width: 125px; }

footer #block-masquerade {
  color: #333333; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
header {
  padding-top: 20px;
  *zoom: 1; }
  header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

#block-hsk-branding {
  width: 55%;
  float: left; }

nav#block-hsk-main-menu {
  display: none;
  *zoom: 1;
  clear: both; }
  nav#block-hsk-main-menu:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  nav#block-hsk-main-menu ul.menu {
    margin: 0;
    padding: 0; }
    nav#block-hsk-main-menu ul.menu li {
      display: inline;
      display: block; }
      nav#block-hsk-main-menu ul.menu li a {
        background: #bbbbbb;
        display: block;
        height: 42px;
        line-height: 42px;
        color: white;
        text-align: center;
        padding: 0 15px;
        font-size: 18.2px;
        font-size: 1.4rem; }
        nav#block-hsk-main-menu ul.menu li a:hover {
          background: #888888;
          text-decoration: none; }
        nav#block-hsk-main-menu ul.menu li a span.arrow {
          display: inline-block;
          width: 17px;
          height: 25px;
          background: url(../images/arrow-white-down.png) no-repeat right 16px; }
      nav#block-hsk-main-menu ul.menu li.menu-visible a {
        background: #444444; }
      nav#block-hsk-main-menu ul.menu li.menu-visible ul li a {
        background: #777777; }
      nav#block-hsk-main-menu ul.menu li ul {
        display: none; }
        nav#block-hsk-main-menu ul.menu li ul li a {
          background: #888888;
          font-size: 15.6px;
          font-size: 1.2rem;
          padding: 0; }
      nav#block-hsk-main-menu ul.menu li.menu-visible ul {
        display: block; }

#block-mobilemenubutton {
  width: 29px;
  height: 29px;
  background: url(../images/menu-icon.png) no-repeat center center;
  float: right;
  margin-left: 20px; }
  #block-mobilemenubutton .field--name-body, #block-mobilemenubutton a {
    display: block;
    height: 100%; }

nav#block-useraccountmenu {
  float: right; }
  nav#block-useraccountmenu ul {
    margin-top: 0; }
    nav#block-useraccountmenu ul li {
      display: inline; }
      nav#block-useraccountmenu ul li a {
        font-size: 13px;
        font-size: 1rem;
        line-height: 1.5;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        /*- Desktop narrow - */
        font-size: 11.7px;
        font-size: 0.9rem;
        color: #666666; }
        @media only screen and (min-width: 1024px) {
          nav#block-useraccountmenu ul li a {
            font-size: 11.7px;
            font-size: 0.9rem; } }

nav#block-hsk-footer {
  float: right; }
  nav#block-hsk-footer ul {
    margin-top: 0; }
    nav#block-hsk-footer ul li {
      display: inline; }
      nav#block-hsk-footer ul li a {
        font-size: 13px;
        font-size: 1rem;
        line-height: 1.5;
        color: #333333;
        font-family: "Open Sans", sans-serif;
        /*- Desktop narrow - */
        font-size: 11.7px;
        font-size: 0.9rem;
        color: #666666; }
        @media only screen and (min-width: 1024px) {
          nav#block-hsk-footer ul li a {
            font-size: 11.7px;
            font-size: 0.9rem; } }

.search-block-form {
  display: none; }
  .search-block-form input.form-search {
    border: 1px solid #aaaaaa; }

#block-views-block-header-slideshow-block-1 {
  clear: both; }

/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 768px) {
  header {
    padding-top: 30px; }

  .search-block-form {
    display: block; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media only screen and (min-width: 1024px) {
  header #block-hsk-branding {
    width: auto; }
    header #block-hsk-branding .logo img {
      margin-left: 10px; }
  header nav#block-useraccountmenu {
    float: right;
    margin-top: 4px; }
  header nav#block-hsk-footer {
    margin-top: 4px;
    float: right; }
  header .search-block-form {
    clear: right;
    float: right;
    margin-top: 21px; }
  header nav#block-hsk-main-menu {
    clear: both; }

  nav#block-hsk-main-menu {
    margin-bottom: 0;
    clear: both;
    padding-top: 30px;
    display: table !important;
    width: 100%; }
    nav#block-hsk-main-menu ul.menu {
      display: table-row;
      width: 100%; }
      nav#block-hsk-main-menu ul.menu li.menu-visible.has-submenu a {
        background: #717171;
        border-bottom: 1px solid #cccccc; }
      nav#block-hsk-main-menu ul.menu li.menu-visible.has-submenu ul li a {
        border-bottom: 0;
        background: #999999; }
      nav#block-hsk-main-menu ul.menu li, nav#block-hsk-main-menu ul.menu li.menu-visible {
        display: table-cell;
        padding-top: 0;
        padding-right: 2px;
        position: relative; }
        nav#block-hsk-main-menu ul.menu li:last-child, nav#block-hsk-main-menu ul.menu li.menu-visible:last-child {
          padding-right: 0; }
        nav#block-hsk-main-menu ul.menu li a, nav#block-hsk-main-menu ul.menu li.menu-visible a {
          float: left;
          min-width: 150px;
          width: 100%;
          text-align: center;
          font-size: 18.2px;
          font-size: 1.4rem;
          height: 42px;
          line-height: 42px; }
          nav#block-hsk-main-menu ul.menu li a:hover, nav#block-hsk-main-menu ul.menu li.menu-visible a:hover {
            background: #717171; }
        nav#block-hsk-main-menu ul.menu li ul, nav#block-hsk-main-menu ul.menu li.menu-visible ul {
          position: absolute;
          top: 42px;
          left: 0;
          z-index: 20;
          width: auto;
          background: #999999; }
          nav#block-hsk-main-menu ul.menu li ul li, nav#block-hsk-main-menu ul.menu li.menu-visible ul li {
            display: block;
            padding-top: 0;
            padding-right: 0;
            border-bottom: 1px solid #cccccc; }
            nav#block-hsk-main-menu ul.menu li ul li:last-child, nav#block-hsk-main-menu ul.menu li.menu-visible ul li:last-child {
              border-bottom: none; }
            nav#block-hsk-main-menu ul.menu li ul li a, nav#block-hsk-main-menu ul.menu li.menu-visible ul li a {
              float: none;
              white-space: nowrap;
              background: #999999;
              font-size: 15.6px;
              font-size: 1.2rem;
              padding: 0 30px;
              text-align: left; }
              nav#block-hsk-main-menu ul.menu li ul li a:hover, nav#block-hsk-main-menu ul.menu li.menu-visible ul li a:hover {
                background: #777777; }

  #block-mobilemenubutton {
    display: none; }
    #block-mobilemenubutton:hover {
      cursor: pointer;
      cursor: hand; }

  .path-frontpage nav#block-hsk-main-menu {
    border-bottom: 1px solid #999999; } }
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- All Screen Sizes ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/*----------- Tablet Portrait ---------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet Portrait */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Tablet  ------------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*------------- Desktop narrow  -------------- */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
/*------------------------------------------- */
/*------------------------------------------- */
/*---------------- Desktop  ------------------ */
/*------------------------------------------- */
/*------------------------------------------- */
/* End Media Query Tablet */
