<div class="content-box vereinsmeisterschaft">
    <i class="icon-featured icon icon-trophy"></i>
    <h3>Vereinsmeisterschaft</h3>
    <div class="box-text">Vestibulum pretium feugiat eros. Suspendisse pellentesque eros id erat viverra feugiat. Etiam
        eu convallis neque, ac efficitur orci. Vivamus in suscipit orci, eget eleifen
    </div>
</div>
<div class="content-box pokal">
    <i class="icon-featured icon icon-trophy"></i>
    <h3>Vereinspokal</h3>
    <div class="box-text">Vestibulum pretium feugiat eros. Suspendisse pellentesque eros id erat viverra feugiat. Etiam
        eu convallis neque, ac efficitur orci. Vivamus in suscipit orci, eget eleifen
    </div>
</div>
<div class="content-box blitz">
    <i class="icon-featured icon icon-trophy"></i>
    <h3>Monatzsblitz</h3>
    <div class="box-text">Vestibulum pretium feugiat eros. Suspendisse pellentesque eros id erat viverra feugiat. Etiam
        eu convallis neque, ac efficitur orci. Vivamus in suscipit orci, eget eleifen
    </div>
</div>
<div class="content-box schnellschach">
    <i class="icon-featured icon icon-trophy"></i>
    <h3>Schnellschach</h3>
    <div class="box-text">Vestibulum pretium feugiat eros. Suspendisse pellentesque eros id erat viverra feugiat. Etiam
        eu convallis neque, ac efficitur orci. Vivamus in suscipit orci, eget eleifen
    </div>
</div>
<div class="content-box schnellschach">
    <i class="icon-featured icon icon-trophy"></i>
    <h3>Turnier-Simultan</h3>
    <div class="box-text">Vestibulum pretium feugiat eros. Suspendisse pellentesque eros id erat viverra feugiat. Etiam
        eu convallis neque, ac efficitur orci. Vivamus in suscipit orci, eget eleifen
    </div>
</div>
<div class="content-box schnellschach">
    <i class="icon-featured icon icon-trophy"></i>
    <h3>Thema-Turnier</h3>
    <div class="box-text">Vestibulum pretium feugiat eros. Suspendisse pellentesque eros id erat viverra feugiat. Etiam
        eu convallis neque, ac efficitur orci. Vivamus in suscipit orci, eget eleifen
    </div>
</div>