<div class="timefield-weekly-summary-minical-box">
  {% if label %}
    <div class="timefield-minical-label">
        <strong>{{ label }}</strong>
    </div>
  {% endif %}
  <div class="timefield-minical-times">
    {{ time }}
  </div>
</div>
